{% extends "base.html" %}
{% load static %}

{% block title %}About Us - The Uncommitted{% endblock %}

{% block content %}
<h1>Meet the Team</h1>
<div class="about-container">
    <div class="member-card">
        <img src="{% static 'media/teammembers/mark-butler.jpg' %}" alt="Mark Butler">
        <div class="member-info">
            <h3>Mark Butler</h3>
            <p>Backend wizard and database architect.</p>
            <a class="github-icon" href="https://github.com/Mbutler1991" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </div>
    <div class="member-card">
        <img src="{% static 'media/teammembers/jawahir-abdul-bari.png' %}" alt="Jawahir Abdul Bari">
        <div class="member-info">
            <h3>Jawahir Abdul Bari</h3>
            <p>Frontend queen.</p>
            <a class="github-icon" href="https://github.com/Jawahir01" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </div>
    <div class="member-card">
        <img src="{% static 'media/teammembers/mirjane-cale.png' %}" alt="Mirjane Cale">
        <div class="member-info">
            <h3>Mirjane Cale</h3>
            <p>The artist.</p>
            <a class="github-icon" href="https://github.com/mirjanacale" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </div>
    <div class="member-card">
        <img src="{% static 'media/teammembers/ojarvey-lowman.jpg' %}" alt="Ojarvey Lowman">
        <div class="member-info">
            <h3>Ojarvey Lowman</h3>
            <p>Brings the vibes and creativity to the team.</p>
            <a class="github-icon" href="https://github.com/OJarvey" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </div>
</div>
{% endblock %}
