{% extends "base.html" %}
{% load static %}

{% block title %}The Uncommitted Quiz{% endblock %}

{% block content %}
<div id="question">
    <h2>Question <span id="current">1</span>/5</h2>
    <p id="questionText">Loading question...</p>
    <div class="answers" id="answers">
        <!-- Answers will be inserted here -->
    </div>
    <div id="navigation">
        <button id="backButton">BACK</button>
        <button id="nextButton" disabled>NEXT</button>
    </div>
</div>
{% endblock%}

{% block postloadjs %}
{% endblock %}