{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta   %}
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta charset="UTF-8">
            <meta name="description" content="The Uncommitted Quiz Application">
            <meta name="keywords" content="quiz, application, django, web development">
            <meta name="author" content="2504-hackathon-team5">
            <meta name="robots" content="index, follow">
        {% endblock %}
    
        {% block corecss %}
        <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
        {% endblock %}
        
        {% block extra_css %}{% endblock %} 
        <title>{% block title %}The Uncommitted{% endblock %}</title>
    </head>
    
    <body>
        <div class="container">
            <header class="site-header">
                <div class="header-inner">
                    <div class="logo">
                        <h1>The Uncommitted Quiz</h1>
                    </div>
                    <nav class="top-nav">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'about' %}">About</a>
                    </nav>
                </div>
            </header>

            {% block content %}
            {% endblock %}

            <footer>
                <p>&copy; {% now "Y" %} Uncommitted Quiz</p>
                <p>For educational and reference purposes only</p>
            </footer>
        </div>    
        {% block corejs %}
        <script src="{% static 'js/script.js' %}" defer></script>
        {% endblock %}
        {% block extra_js %}{% endblock %}
    </body>
</html>
