{% extends "base.html" %}
{% load static %}

{% block title %}The Uncommitted Quiz{% endblock %}

{% block corecss %}

{% endblock %}

{% block content %}
<h1>The Uncommitted Quiz</h1>
<div id="question">
    <h2>Question <span id="current">1</span>/5</h2>
    <p id="questionText">
        <!-- Question text will be inserted dynamically by JavaScript -->
         
    </p>
    <div class="answers" id="answers">
        <!-- Answers will be inserted dynamically by JavaScript -->
    </div>
    <button id="backButton">BACK</button>
    <button id="nextButton" disabled>NEXT</button>
</div>
{% endblock %}

{% block postloadjs %}

{% endblock %}